.login {
  height: 100vh;
  background: linear-gradient(to right, #6a11cb, #2575fc);
}

.login .form-container {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
  margin: 40px 0px;
}


.login .form-container h1 {
  text-transform: uppercase;
}

.login .input-group {
  margin-bottom: 1.2rem;
  text-align: left;
}

.login .input-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
}

.login .input-group input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
}

.login .input-group input:focus {
  border-color: #6a11cb;
  outline: none;
}

.login .btn {
  background-color: #6a11cb;
  color: white;
  padding: 0.8rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

.login .btn:hover {
  background-color: #2575fc;
}

.login .register-link {
  margin-top: 1rem;
  color: #555;
}

.login .register-link a {
  color: #6a11cb;
  text-decoration: none;
}

.login .register-link a:hover {
  text-decoration: underline;
}