.notfound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, var(--system-color), black);
}

.notfound-card {
  text-align: center;
  background: #161616;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.notfound-card h1 {
  font-size: 72px;
  color: var(--system-color);
  margin-bottom: 10px;
}

.notfound-card p {
  font-size: 16px;
  color: #fff;
  margin-bottom: 20px;
}

.todo-suggestions {
  background-color: #ecf0f1;
  padding: 15px;
  border-radius: 6px;
  margin-bottom: 20px;
}

.todo-suggestions h2 {
  font-size: 18px;
  color: #3498db;
  margin-bottom: 10px;
}

.todo-suggestions ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.todo-suggestions li {
  font-size: 14px;
  color: #34495e;
  margin: 5px 0;
}

.back-home {
  background-color: var(--system-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back-home:hover {
  background-color: #74094c;
}